body {
  font-family: 'Mountains of Christmas', cursive;
}

header {
  background-color: white;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
}

canvas {
  background-color: #c3062c;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  padding-top: 25px;
  text-align: center;
}

.hero {
  background: url(assets/bad-pet.jpg) center;
  background-size: cover;
  margin-top: 150px;
  height: 50vh;
  display: flex;
  align-items: center;
}

.tagline {
  text-align: center;
  color: white;
  font-size: 5em;
  font-weight: 700;
  margin: auto;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.home-buttons  {

}

.setup-main-container {
  text-align: center;
  overflow: scroll;
}

.setup-header {
  font-size: 28px;
  margin: 110px auto 40px auto;
}

.setup-section {
  overflow: scroll;
}
.setup-page-subheader {
  font-size: 24px;
}

.part-one-body {
  margin: 10px auto;
  max-width: 50vw;
  text-align: center;
  overflow: scroll;
}
