body {
  font-family: 'Mountains of Christmas', cursive;
}

header {
  /*display: flex;*/
  background-color: white;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
}

canvas {
  background-color: #c3062c;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  padding-top: 25px;
  text-align: center;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100vw;
  justify-content: space-around;
  /*z-index: 1;*/
}
